.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container {
  display: grid;
  gap: 4rem;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 48rem) {
  .header {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
}

.kicker {
  color: var(--muted-foreground);
  font-size: 0.625rem;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
}

.title {
  color: var(--foreground);
  font-weight: 300;
  font-size: clamp(2.5rem, 4vw, 4rem);
  margin-bottom: 2rem;
  line-height: 1.05;
  letter-spacing: -0.02em;
}

.primary {
  color: var(--primary);
}

.subTitle {
  font-size: 2rem;
  font-weight: 300;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  line-height: 1.05;
  letter-spacing: -0.02em;
  font-family: var(--font-family-heading);
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerPrevButton,
.headerNextButton {
  border: 0.0625rem solid var(--primary);
  border-radius: 50%;
  width: 2.25rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerPrevButtonIcon,
.headerNextButtonIcon {
  width: 1rem;
  color: var(--primary);
}

.viewport {
  overflow: hidden;
}

.viewportContainer {
  display: flex;
  touch-action: pan-y pinch-zoom;
  gap: 2rem;
}

.card {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  aspect-ratio: 3 / 4;
  max-width: 25rem;
}

.card:last-child {
  margin-right: 2rem;
}

.cardImage {
  object-fit: cover;
  user-select: none;
}

.cardContent {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 1rem;
  align-items: end;
}

.cardTitle {
  font-family: var(--font-family-body);
  color: white;
  font-size: 1.5rem;
}

/* Responsive */
@media (min-width: 1024px) {
  .section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
