.overlay {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 110;
  inset: 0;
  background-color: var(--background);
}

.closeButton {
  display: flex;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.closeText {
  transition: color 0.5s ease;
  color: var(--muted-foreground);
}

.closeButton:hover .closeText {
  color: var(--foreground);
}

.closeIcon {
  transition: transform 0.5s duration;
}

.closeButton:hover .closeIcon {
  transform: rotate(90deg);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media (min-width: 768px) {
  .list {
    /* gap: 0.5rem; */
  }
}

.listItem {
  overflow: hidden;
}

.link {
  display: inline-block;
  position: relative;
  transition: color 0.5s ease;
  padding-block: 0.25rem;
  color: var(--foreground);
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  text-decoration: none;
}

@media (min-width: 768px) {
  .link {
    font-size: 5rem;
  }
}

.underline {
  display: none;
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: var(--foreground);
  width: 100%;
  height: 1px;
}

@media (min-width: 768px) {
  .underline {
    display: block;
  }
}

.link:hover .underline {
  transform: scaleX(1);
  transform-origin: left;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 4rem; /* bottom-16 */
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* gap-4 */
}

.footerLabel {
  color: var(--muted-foreground);
  font-size: 9px;
  font-family: var(--font-primary);
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.socialLinks {
  display: flex;
  gap: 2.5rem;
  font-weight: 500;
  font-size: 10px;
  font-family: var(--font-primary);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.socialLink {
  transition: color 0.3s ease;
  color: inherit;
  text-decoration: none;
}

.socialLink:hover {
  color: var(--muted-foreground);
}
